*.swp
*.jpg
*.png
smpl/
tmp/
pretrained_models/
.vscode/
test_result/
log/
log.txt
checkpoints/
evaluate_results/
*.pyc
*.npy
test_log.txt
*.pkl
pretrained/
render_result/
lightweight-human-pose-estimation.pytorch/
data/*
webvideos/
samples/
*.pth
*.obj
data/
detectors/
data
samples_all/
*.zip
extra_data/
sample_data/
mocap_output/
demo.sh
demo_multi.sh
mocap_utils/frame_to_video.py
mocap_utils/frame_to_gif.py
mocap_utils/select_epick_kitchen.py
