pip
gdown
opencv-python
PyOpenGL 
PyOpenGL_accelerate
pycocotools
pafy
youtube-dl
scipy
pillow>=7.1.0
easydict
cython
cffi
opencv-python
msgpack
pyyaml
tensorboardX
tqdm
jinja2
smplx
sklearn
opendr
chumpy
